.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2.5rem auto;
}

@media (max-width: 576px) {
  .ui.grid > .column:not(.row),
  .ui.grid > .row > .column {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
}

